* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    padding-left: 10px;
}

.container {
    position: relative;
    border: 1px solid blue;
    height: 60px;
}

.dorpdown {
    position: absolute;
    top: 59px;
    border: 1px solid green;
}
