* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style: none;
}

nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
}

nav .nav-chk {
    display: none;
}

nav .submenu {
    display: none;
}

nav ul li .nav-chk:checked ~ .submenu {
    display: block;
}
