* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --nav-background: WhiteSmoke;
    --nav-hover: #c8c8c8;
    --bar-width: 48px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: #333;
    --hamburger-margin: 10px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --hover-color: #4167b1;
}

body {
    font-size: 16px;
}

.hamburger-menu {
    display: none;
}

/* .hamburger-menu.hamburger-menu:has(input:checked) {
    --foreground: var(--background);
} */

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

body {
    min-height: 100vh;
    background: url("background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--nav-background);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

header .logo img {
    height: 56px;
}

nav ul {
    list-style: none;
}

nav ul li {
    position: relative;
    float: left;
}

nav ul li a {
    margin: 1rem 0;
    width: 160px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: var(--foreground);
}

.logo {
    padding: 0;
}

nav ul li a:hover {
    color: var(--hover-color);
}

nav ul li ul {
    position: absolute;
    left: 0;
    background: var(--nav-background);
    display: none;
    top: calc(1rem * 3.4375);
}

nav ul li ul li {
    width: 100%;
    border-top: 1px solid silver;
}

nav ul li ul li:last-child {
    border-bottom: 1px solid silver;
}

nav ul li ul li ul {
    left: 160px;
    top: -1px;
}

.dropdown-activator {
    display: block;
    float: right;
    padding: 0.3rem 0.4rem;
    border: 1px solid silver;
    margin-top: calc(-1rem * 2.6);
}
nav ul li.open > ul {
    display: initial;
}

@media (max-width: 1200px) {
    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: right center;
        transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing),
            transate var(--animation-timing);
    }
    .hamburger-menu {
        --x-width: calc((var(--hamburger-height) * 1.41421356237));
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin);
        right: var(--hamburger-margin);
        z-index: 2;
        cursor: pointer;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        border: 1px solid grey;
        display: none;
    }
    nav ul li {
        width: 100%;
    }
    .dropdown-activator {
        border: 1px solid silver;
        padding: 1rem 1.25rem;
        margin-top: calc(-1rem * 3.2);
        cursor: pointer;
    }

    nav ul li a {
        width: 100%;
    }

    nav ul li ul {
        position: relative;
        width: 100%;
        top: 0;
    }

    nav ul li ul li {
        background-color: #e8e8e8;
    }

    nav ul li ul li i {
        transform: rotate(90deg);
    }

    nav ul li ul li ul {
        width: 100%;
        left: 0;
        top: 0;
        position: relative;
    }

    nav ul li ul li ul li {
        background-color: darkgrey;
    }

    .hamburger-menu:has(input:checked) ~ nav {
        display: initial;
    }
}
