* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: url("background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

header .logo img {
    height: 56px;
}

nav ul {
    list-style: none;
}

nav ul li {
    position: relative;
    float: left;
}

nav ul li a {
    font-size: 18px;
    padding: 20px;
    width: 160px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: black;
}

nav ul li a:hover {
    background: grey;
    color: white;
}

nav ul li ul {
    position: absolute;
    left: 0;
    background: white;
    display: none;
}

nav ul li ul li {
    width: 100%;
    border-top: 1px solid grey;
}

nav ul li ul li ul {
    left: 160px;
    top: 0;
}

nav ul li:hover > ul {
    display: initial;
}

#nav-toggle {
    display: none;
}

header label {
    font-size: 18px;
    color: black;
    cursor: pointer;
    display: none;
    font-size: 32px;
    padding: 20px;
    margin: 0 30px;
}

@media (max-width: 1200px) {
    header label {
        display: block;
    }
    nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        border: 1px solid grey;
        display: none;
    }
    nav ul li {
        width: 100%;
    }
    nav ul li a {
        width: 100%;
    }

    nav ul li ul {
        position: relative;
        width: 100%;
    }

    nav ul li ul li {
        background-color: lightgray;
    }

    nav ul li ul li i {
        transform: rotate(90deg);
    }

    nav ul li ul li ul {
        width: 100%;
        left: 0;
    }

    nav ul li ul li ul li {
        background-color: darkgrey;
    }

    #nav-toggle:checked ~ nav {
        display: initial;
    }
}
